MONGODB_URI=mongodb://localhost:27017/lms_saas
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
NEXT_PUBLIC_API_URL=http://localhost:3000




# <!-- sanufeliz_db_user -->

# <!-- 0MaHD0VKHq10MkOR -->


# <!-- mongodb+srv://sanufeliz_db_user:@lmsbeta.8aqlbpq.mongodb.net/?appName=lmsbeta -->